
export ORG_NAME=org1
export ORG_MSPID=${ORG_NAME}MSP
export TLD=emali.dev

# when set above env variables
# peer node names would be: peerX.ORG_NAME.TLD
# e.g peer0.org1.emali.dev, peer1.org1.emali.dev

# orderer node names would be: ordererX.ORG_NAME.TLD
# e.g orderer0.org1.emali.dev, orderer1.org1.emali.dev

# as a reminder
# 1. copy env.org.samle to ./sharedvolume/env.org
# 2. set TLD and ORG_NAME as real domain names.
# 3. all above names(FQDN) should be configured in DNS.
